body {
    font-family: 'Oswald', sans-serif;;
    font-size: 1.3rem;
    color: black;
    line-height: 1.4em;
    margin: 0; 
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto; 
}

.header {
    background: #000000;
    color: white;
    padding: 2rem 0;
    /*
    position: fixed;
    left: 0;
    top: 0em;
    right: 0;
    */
}
.header a {
    color: white;
    text-decoration: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.5em;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block ;
}
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem; 
        transition: all 0.4s linear;
        border-radius: 5px;
    }
        .navigation ul li a:hover{
            background: #747070f6;
        }


.menu-icon {
    display: none;   
}
.main {
    background-image: url('img/Fotografías/Isla.png');
    background-color: #333232;
    background-blend-mode: soft-light;
    height: 80vh;
    width: 100%;
    margin-bottom:50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.main h1{
    font-weight: 400; 
    color: #ffffff; 
    padding: 30px;
    overflow: hidden;
    border-radius: 0px;
    border: 5px solid #ff5e00;
}
 /*Servicios Home*/ 

.Service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    align-items: center;
    margin-bottom: 40px;
}

.Service img {
    display: block;
    margin: auto;
    transition: transform 2s;
}

.Service img:hover {
    transform: scale(1.3);
}

.Service h3 {
    font-size: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
    
}
.Service p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}

/*Proyectos */
div.projects1 {
    height: 400px;
    background: #c2c2c2;
}

.pro1 {
    max-width: 1100px;
    margin: 0 auto;
    text-align: justify;
}

.pro1 img {
    height: 400px;
    margin-top: 0px;
    max-width: 100%;
    
}

.pro1 h2 {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 20px;
    margin: 5px;
}
.pro1 p{
    margin: 10px ;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    color: rgb(0, 0, 0);
}


.pro1 a {

    background: #000000;
    color: #fff;
    float: right;
    font-size: 1.25em;
    margin: 20px 20px 0px 20px;
    padding: 10px 0px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    transition: background-color 2s;
    
}

.pro1 a:hover {
    background-color: #706d6d;
}





@media screen and (max-width: 767px) {

    div.projects1 {
        height: 820px;
    }
    .pro1 .pro11 img{
        width: 100%;
    }

}

@media (min-width:768px){
    .pro1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .pro11 {
        flex: 0 0 calc( 50% -1rem);
    }
    .pro1 .pro11 img {
        width: 1300px;
        clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
        margin: 0px;
    }

    .pro1 .pro11 h2 {
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: left;
        text-transform: uppercase;
        overflow: hidden;
        font-size: 20px;
        padding: 0px;
        margin:30px 30px 10px 100px;
        }

    .pro1 .pro11 p{
        padding: 0px;
        margin: 15px 30px 10px 100px;
        font-size: 15px;
        font-weight: 100;
        line-height: 25px;
        color: rgb(54, 54, 54);
        }
}


div.projects2 { 
    height: 400px;
    background: #aa1e1e;
    
}

.pro2 {
    max-width: 1100px;
    margin: 0 auto;
    text-align: justify;
}

.pro2 img {
    height: 400px;
    max-width: 100%;
    margin-top: 0px;
    
    
}

.pro2 h2 {
    color: #3f0808;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 20px;
    margin: 5px;
}
.pro2 p{
    margin: 10px;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    color: #FFF;
}

.pro2 a {
    background: #3f0808;
    color: #fff;
    float: right;
    font-size: 1.25em;
    margin: 20px 20px 0px 20px;
    padding: 10px 0px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    transition: background-color 2.5s;
}

.pro2 a:hover {
    background-color: #ca7272;
}




@media screen and (max-width:767px) {
    
    div.projects2 {
        height: 820px;
    }
    .pro2 .pro22 img{
        width: 100%;
    }

    
}

@media (min-width:768px){
    .pro2 {
        display: flex;
        justify-content: space-between;
    }
    .pro22 {
        flex: 0 0 calc( 50% -1rem);
    }
    .pro2 .pro22 img {
        width: 1300px;
        clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
    }

    .pro2 .pro22 h2 {
        color: #3f0808;
        display: flex;
        align-items: center;
        justify-content: left;
        text-transform: uppercase;
        overflow: hidden;
        font-size: 20px;
        margin: 30px 25px 10px 30px;
        padding: 0px;    
    }

    .pro2 p{
        padding: 0px;
        margin: 15px 100px 10px 30px;
        font-size: 15px;
        font-weight: 100;
        line-height: 25px;
        color: #FFF;
    }

    .pro2 a {
        margin: 15px 100px 10px 30px ;
    }
    

        
}

/*Values*/

div.values {
    height: 300px;
    background: #757575;
}

.values h2 {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 25px;
    font-weight: 400;
    margin: 0px;
}

.val1 {
    max-width: 1100px;
    margin: 25px auto;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.val1 img {
    height: 25vh;
    width: 10vw;
    margin: auto;
}

.val1 ul {
    font-size: 15px;
    font-weight: 200;
    line-height: 25px;
    color: #FFF;
    margin: auto 15px;
}




/*
@media (min-width:1025px){
    .val1 {
        display: flex;
        justify-content: space-between;
    }
    .val11 {
        flex: 0 0 calc( 50% -1rem);
    }
    .val1 .val11 img {
        width: 250px;
        height: 250px;
    }
} */


/*Clientes*/

div.clientes {
    height: 420px;
    background: #a2a2a2;
    
}

/* Página Nosotros */ 


.queondamai {
    background-image: url('img/Fotografías/fuerzamoral.jpg');
    background-color: #333232;
    background-blend-mode: soft-light;
    height: 80vh;
    width: 100%;
    margin: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center ;
    text-transform: uppercase;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin-bottom: 20px;
}

.queondamai h1{
    text-align: center;
    font-weight: 400; 
    font-size: 35px;
    color: #ffffff; 
    padding: 15px;
    overflow: hidden;
    margin: 5px;
    /*
    border-radius: 0px;
    border: 5px solid #ffffff;*/
}

.queondamai h2{
    text-align: center;
    font-weight: 400; 
    line-height: 30px;
    font-size: 20px;
    color: #ffffff; 
    padding: 0px;
    margin-top: 10px;
    overflow: hidden;
    text-transform: none;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 27px;
    padding: 20px;
    margin: 20px;
}

.nosotros {
    max-width: 1100px;
    margin: 0 auto;
    text-align: justify;
}

.nosotros img {
    height: 350px;
    max-width: 100%;
    
}

.nosotros p{
    margin: 15px;
    font-size: 17px;
    line-height: 25px;
}


@media screen and (max-width:1024px) {
    .nosotros .nosotros1 img{
        width: 100%;
        
    }

}

@media (min-width:1025px){
    .nosotros {
        display: flex;
        justify-content: space-between;
    }
    .nosotros1 {
        flex: 0 0 calc( 50% -1rem);
    }
    .nosotros .nosotros1 img {
        width: 1200px;
    }
}


/*Testimoniales*/

.container-humanbody {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns:300px ;
    grid-template-rows: 200px 210px 25px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 5px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card-image img{
    grid-area: image;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
    width: 100%;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: #ff5e00;
    font-size: 13px;
}

.card-text p {
    color: rgb(75, 75, 75);
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0;
    font-size: 28px;
    color: white;
}
.card-stats {
    grid-area: stats;
    background: #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}


/*Nosotros Responsive*/

@media screen and (max-width:1024px) {

    .container-humanbody {
        flex-wrap: wrap;
        max-width: 100%;
        height: 100rem;      
    }
}


@media screen and (max-width:768px) {

    .container-humanbody {
        flex-wrap: wrap;
        max-width: 100%;
        height: 100rem; 
    }

}

@media screen and (max-width:599px) {

    .container-humanbody {
        max-width: 100%;
        height: 150rem; 
    }

}

/*Página Servicios*/

.urgeurge {
    background-image: url('img/Fotografías/nosotros.jpg');
    background-color: #333232;
    background-blend-mode: soft-light;
    height: 80vh;
    width: 100%;
    margin: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center ;
    text-transform: uppercase;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin-bottom: 0px;
}

.urgeurge h1{
    text-align: center;
    font-weight: 400; 
    font-size: 35px;
    color: #ffffff; 
    padding: 15px;
    overflow: hidden;
    margin: 5px;
    /*
    border-radius: 0px;
    border: 5px solid #ffffff;*/
}

.urgeurge h2{
    text-align: center;
    font-weight: 400; 
    line-height: 30px;
    font-size: 20px;
    color: #ffffff; 
    padding: 0px;
    margin-top: 10px;
    overflow: hidden;
    text-transform: none;
}


:root {
    --gradient-color: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-xard {
    font-size: 1.6rem;
    color: #333;
    background-color: rgb(255, 255, 255);
    height: 2450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0rem 1.6rem;
}

.xard {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px .8rem 1rem rgba(0,0,0,.05);
    margin-bottom: 30px;
}


.image-data {
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.background-image img{
    width: 100%;
    height: 100%;
    position: absolute ;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}

.xard:hover .background-image img{
    transform: scale(1.5);
}

.publication-details {
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.publication-details i {
    margin-right: 1rem;
}



.author {
    display: inline-block;
    margin-bottom: 1.5rem;
    transition: all 0.5s;
}

.author:hover {
    color: rgba(179, 179, 179, 0.8);
}

.date {
    display: block;
}

.post-data {
    background: #FFF;
    padding: 2rem 3rem;
    position: relative;
}

.title {
    font-size: 3rem;
    line-height: 1;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin: 1rem 0 1.5rem 0;
}

.description {
    position: relative;
    text-align: justify;
}

.description::first-letter {
    margin-left: 1rem;
}

.description::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 2rem;
    background: var(--gradient-color);
    border-radius: 2rem;
}

.cta {
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}

.cta a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.cta a::before {
    content:'';
    position: absolut;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    height: 3px;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s; 
}

.cta a:hover::before {
    transform: scaleX(1);
}


@media screen and (min-width: 550px){ 

    .container-xard {
        height: 1400px;
        padding: 0rem 5rem 10rem 5rem;
    }
    .xard {
        flex-direction: row;
        max-width: 100%;
    }

    .image-data {
        flex-basis: 40%;
        height: unset;
    }

    .publication-details {
        transform: translateX(-100%);
        transition: transform .5s;
    }

    .xard:hover .publication-details {
        transform: translateX(0);
    }

    .author {
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay: .3s;
    }

    .date {
        transform: translateY(3em);
        opacity: 0;
        transition: all .5s .3s;
    }

    .xard:hover .author, 
    .xard:hover .date {
        transform: translateY(0);
        opacity: 1;
    }
    .post-data {
        flex-basis: 60%;
    }

    .post-data::before {
        content: '';
        width: 3.5rem;
        height: 100%;
        background-color: #FFF;
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);
    }

}


@media screen and (min-width: 769px){ 

    .container-xard {
        height: 1250px;
        padding: 0rem 5rem 130rem 5rem;
    }
    .xard {
        flex-direction: row;
        max-width: 100%;
    }

    .image-data {
        flex-basis: 40%;
        height: unset;
    }

    .publication-details {
        transform: translateX(-100%);
        transition: transform .5s;
    }

    .xard:hover .publication-details {
        transform: translateX(0);
    }

    .author {
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay: .3s;
    }

    .date {
        transform: translateY(3em);
        opacity: 0;
        transition: all .5s .3s;
    }

    .xard:hover .author, 
    .xard:hover .date {
        transform: translateY(0);
        opacity: 1;
    }
    .post-data {
        flex-basis: 60%;
    }

    .post-data::before {
        content: '';
        width: 3.5rem;
        height: 100%;
        background-color: #FFF;
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);
    }

}

/*Contacto*/

.contactus {
    background-image: url('img/Fotografías/contact.jpg');
    background-color: #333232;
    background-blend-mode: soft-light;
    height: 80vh;
    width: 100%;
    margin: 0px;
    color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center ;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin-bottom: 25px;
}

.contactus h1{
    text-align: center;
    font-weight: 400; 
    font-size: 35px;
    color: #ffffff; 
    padding: 15px;
    overflow: hidden;
    margin: 5px;
    /*
    border-radius: 0px;
    border: 5px solid #ffffff;*/
}

.contactus h2{
    text-align: center;
    font-weight: 400; 
    line-height: 30px;
    font-size: 20px;
    color: #ffffff; 
    padding: 0px;
    margin-top: 10px;
    overflow: hidden;
    text-transform: none;
}




* {
    box-sizing: border-box;
}
.container-contact{
    
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 595px;
    background:#ffffff;
    color:#ffffff;
    line-height:1.6;
    padding:1em;
  }
  
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:rgb(0, 0, 0);
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#292929;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact{
    background:rgb(196, 196, 196);
    color: #000000;
  }
  
  /* FORM STYLES */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c2c2c2;
  }
  
  .contact form button{
    background:#969696;
    color: #FFF;
    border:0;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background:#3c4ef8;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){

    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  }


  div.mapa {
    height: 420px;
}

/*Footer*/

footer {
    width: 100%;
    background: #292929;
    color: white;
}

.container-footer-all {
    width: 75%;
    max-width: 850px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.column1 {
    max-width: 284px;
}

.column1 h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.column1 p {
    font-size: 14px;
    color: rgb(196, 196, 196);
    margin-top: 10px;
}

.column2 {
    max-width: 284px;
}

.column2 h1{
    font-size: 25px;
    text-transform: uppercase;
}

.row {
    margin-top: 10px;
    display: flex;
}

.row i {
    width: 25px;
    height: 25px;
    color: white;
}


.row label {
    margin: 0px;
    color: rgb(196, 196, 196);
    font-size: 14px;
}

.column3 {
    max-width: 284px;
}

.column3 h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.row2 {
    margin-top: 10px;
    
}

.row2 i{
    width: 25px;
    height: 25px;
    color: white;
}

.row2 label {
    margin: 0px;
    max-width: 140px;
    font-size: 14px;
    color: rgb(196, 196, 196);
}

.container-footer {
    width: 100%;
    background: black;
}

.foter {
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copy {
    color: rgb(196, 196, 196);;
    font-size: 13px;

}

.copy img {
    height: 14px;
    width:14px;
}
.copy a {
    text-decoration: none;
    color: white;
    font-weight: bold ;
}

.information {
    font-size: 13px;
}
.information a {
    text-decoration: none;
    color: rgb(196, 196, 196);
}

/*Nav */

@media only screen and (max-width: 767px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
        .navigation ul li {
            display: block ;
            margin-top: 1rem;
        }
            .navigation ul li a {
                display: block;
                padding: 0.5rem 0rem; 
                transition: all 0.4s linear;
                border-radius: 5px;
            }
                .navigation ul li a:hover{
                    background: #111111f6;
                }
    
}

/* Main */

@media screen and (max-width:1100px) {
    .main h1 {
        text-align:center;
        line-height: 50px;
    }
}

/*queondamai*/ 

@media screen and (max-width:1100px) {
    .queondamai h1 {
        text-align:center;
        line-height: 15px;
        
    }
}

/*urgeurge*/

@media screen and (max-width:1100px) {
    .urgeurge h1 {
        text-align:center;
        line-height: 15px;
        
    }
}

/*contactus*/

@media screen and (max-width:1100px) {
    .contactus h1 {
        text-align:center;
        line-height: 15px;
        
    }
} 





/*Service*/

@media screen and (max-width:768px) {
    .Service {
        max-width: 100%;
        text-align: center;
    }
    .Service div {
        grid-column: 1/ -1;
    }

    .Service p {
        line-height: 40px;
    }
   
}

/* Footer */

@media screen and (max-width:1100px) {

    .container-body {
        flex-wrap: wrap;
    }

    .column2,
    .column3 {
        margin-top: 40px;
    }
}

@media screen and (max-width:715px) {

    .container-body {
        flex-wrap: wrap;
    }

    .column1 {
        max-width: 100%;
    }

    .column2,
    .column3 {
        margin-top: 40px;
    }
    
    .container-footer {
        max-width: 100%;
    }
    .foter {
        display: block;
    }
    .information {
        margin-top: 10px;
    }
}
