body {
    font-family: 'Oswald', sans-serif;;
    font-size: 1.3rem;
    color: black;
    line-height: 1.4em;
    margin: 0; 
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto; 
}

.header {
    background: #000000;
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0em;
    right: 0;
}
.header a {
    color: white;
    text-decoration: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.5em;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block ;
}
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem; 
        transition: all 0.4s linear;
        border-radius: 5px;
    }
        .navigation ul li a:hover{
            background: #747070f6;
        }


.menu-icon {
    display: none;   
}
.main {
    background-image: url('img/Fotografías/Isla.png');
    background-color: #333232;
    background-blend-mode: soft-light;
    height: 100vh;
    width: 100%;
    margin: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin-bottom: 40px;
}

.main h1{
        font-weight: 400; 
        color: #ffffff; 
        padding: 30px;
        overflow: hidden;
        border-radius: 0px;
        border: 5px solid #ff5e00;
}

.Service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    align-items: center;
    margin-bottom: 40px;
}

.Service img {
    display: block;
    margin: auto;
}
.Service h3 {
    font-size: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}
.Service p{
    text-align: center;
    font-size: 20px;
}

div.mapa {
    height: 420px;
}

/* Nosotros */ 


.queondamai {
    background-image: url('img/Fotografías/fuerzamoral.jpg');
    background-color: #333232;
    background-blend-mode: soft-light;
    height: 80vh;
    width: 100%;
    margin: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin-bottom: 0px;
}

.queondamai h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400; 
    color: #ffffff; 
    display: block;
    margin: 1rem;
    overflow: hidden;
}

.queondamai h2 {
    font-size: 25px;
    font-weight: 400; 
    color: #ffffff; 
    display: block;
    margin: 0rem;
    overflow: hidden;
}

/*Footer*/

footer {
    width: 100%;
    background: #292929;
    color: white;
}

.container-footer-all {
    width: 70%;
    max-width: 850px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.column1 {
    max-width: 284px;
}

.column1 h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.column1 p {
    font-size: 14px;
    color: rgb(196, 196, 196);
    margin-top: 10px;
}

.column2 {
    max-width: 284px;
}

.column2 h1{
    font-size: 25px;
    text-transform: uppercase;
}

.row {
    margin-top: 10px;
    display: flex;
}

.row i {
    width: 25px;
    height: 25px;
    color: white;
}


.row label {
    margin: 0px;
    color: rgb(196, 196, 196);
    font-size: 14px;
}

.column3 {
    max-width: 284px;
}

.column3 h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.row2 {
    margin-top: 10px;
    
}

.row2 i{
    width: 25px;
    height: 25px;
    color: white;
}

.row2 label {
    margin: 0px;
    max-width: 140px;
    font-size: 14px;
    color: rgb(196, 196, 196);
}

.container-footer {
    width: 100%;
    background: black;
}

.foter {
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copy {
    color: rgb(196, 196, 196);;
    font-size: 13px;

}

.copy img {
    height: 14px;
    width:14px;
}
.copy a {
    text-decoration: none;
    color: white;
    font-weight: bold ;
}

.information {
    font-size: 13px;
}
.information a {
    text-decoration: none;
    color: rgb(196, 196, 196);
}



@media only screen and (max-width: 767px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
        .navigation ul li {
            display: block ;
            margin-top: 1rem;
        }
            .navigation ul li a {
                display: block;
                padding: 0.5rem 0rem; 
                transition: all 0.4s linear;
                border-radius: 5px;
            }
                .navigation ul li a:hover{
                    background: #111111f6;
                }
    
}

/* Main */

@media screen and (max-width:768px) {
    .main h1 {
        text-align:center;
        line-height: 40px;
    }

}

/*Service*/

@media screen and (max-width:768px) {
    .Service {
        max-width: 100%;
        text-align: center;
    }
    .Service div {
        grid-column: 1/ -1;
    }
   
}
/*Nosotros*/

/*Nosotros testimonial*/ 

/* Footer */

@media screen and (max-width:1100px) {

    .container-body {
        flex-wrap: wrap;
    }

    .column2,
    .column3 {
        margin-top: 40px;
    }
}

@media screen and (max-width:715px) {

    .container-body {
        flex-wrap: wrap;
    }

    .column1 {
        max-width: 100%;
    }

    .column2,
    .column3 {
        margin-top: 40px;
    }
    
    .container-footer {
        max-width: 100%;
    }
    .foter {
        display: block;
    }
    .information {
        margin-top: 10px;
    }
}